<div [@fadeInState]="transition">
    <h1 class="education-container main-headings">
        University Education
    </h1>
    <div class="education-container">
        <div class="education-card">
            <div style="min-width: 25%;">
                <img src="../assets/images/educationimages/unhlogo.png" width="250px" style="display: block; margin: auto;">
            </div>
            <div class="education-card-col">
                <div style="margin-left: 1rem; margin-right: 1rem;">
                    <h1 class="education-title">Bachelor of Science in Computer Science</h1>
                    <h3 class="education-sub-title">University of New Haven 2021</h3>
                    <p class="education-text">
                        • Data Structures and Algorithms<br>
                        • Discrete Mathematics for Computing<br>
                        • Algorithm Design and Analysis<br>
                        • Artificial Intelligence<br>
                        • Cryptography & Data Security<br>
                        • Calculus I, Calculus II, Linear Algebra<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-breaker">
    <h1 class="education-container main-headings">
        Software Development Training
    </h1>
    <div class="education-container">
        <div class="education-card">
            <div style="min-width: 25%;">
                <img src="../assets/images/educationimages/revaturelogo.png" width="250px" style="display: block; margin: auto;">
            </div>
            <div class="education-card-col">
                <div style="margin-left: 1rem; margin-right: 1rem;">
                    <h1 class="education-title">.NET Full-Stack Training</h1>
                    <h3 class="education-sub-title">Revature 2022</h3>
                    <p class="education-text">
                        • ADO.NET<br>
                        • ASP.NET Web API<br>
                        • C# & Angular (HTML, CSS, TS)<br>
                        • T-SQL<br>
                        • Microsoft Azure<br>
                        • Github, DBeaver, Bootstrap, SonarCloud<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-breaker">
    <h1 class="education-container main-headings">
        Other Education/Training
    </h1>
    <div class="education-container">
        <div class="education-card">
            <div style="min-width: 25%;">
                <img src="../assets/images/educationimages/nedive.png" width="250px" style="display: block; margin: auto;">
            </div>
            <div class="education-card-col">
                <div style="margin-left: 1rem; margin-right: 1rem;">
                    <h1 class="education-title">SDI Open Water Scuba Certification</h1>
                    <h3 class="education-sub-title">New England Dive 2022</h3>
                    <p class="education-text">
                        • SDI Online Academic Course<br>
                        • Confined Water Training<br>
                        • Open Water Training<br>
                        • Advanced Open Water Training<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>