<div class="about-me-container">
  <div [@slideInLeft]="transition" class="about-me-box">
    <h2 class="about-me-heading">
      {{aboutMeTitle}}
      <span><p class="about-me-text">{{displayText}}
        <!-- the span below only shows if you click on the nasa image -->
        <span *ngIf="active4">(<a href="https://api.nasa.gov/" target="_blank" rel="noopener noreferrer">api.nasa.gov</a>) 
          in a coding project. Check it out my portfolio page on this site!</span></p>
        </span>
    </h2>
  </div>
  <div [@slideInRight]="transition" class="about-me-box">
    <img [src]="headingImage" class="img-thumbnail about-img-heading">
  </div>
</div>

<div class="flex-container">
  <div *ngIf="!active1" class="flexbox-item">
    <img [@flipInState]="transition" [src]="aboutMeImg" class="img-thumbnail about-img" (click)="showText(1)">        
  </div>
  <div *ngIf="!active2" class="flexbox-item">
    <img [@flipInState]="transition" [src]="alwaysLearningImg" class="img-thumbnail about-img" (click)="showText(2)"> 
  </div>
  <div *ngIf="!active3" class="flexbox-item">
    <img [@flipInState]="transition" [src]="travelingImg" class="img-thumbnail about-img" (click)="showText(3)"> 
  </div>
  <div *ngIf="!active4" class="flexbox-item">
    <img [@flipInState]="transition" [src]="lifeGoalImg" class="img-thumbnail about-img" (click)="showText(4)">         
  </div>
  <div *ngIf="!active5" class="flexbox-item">
    <img [@flipInState]="transition" [src]="videoGamesImg" class="img-thumbnail about-img" (click)="showText(5)"> 
  </div>
</div>
