.flex-container
{
    margin-top: 1rem;
}

.flexbox-item
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-container
{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}

.demarks-footer-link
{
    color: gray;
    text-decoration: none;
}

.demarks-footer-link:hover
{
    color: black;
}