.about-me-container
{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow-x: hidden;
}

.about-me-box
{
    margin: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:sans-serif;
}

.flex-container
{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flexbox-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img-heading
{
    width: 600px;
    height: 523px;
    background-color: black;
}

.about-img
{
    min-width: 400px;
    max-width: 400px;
    min-height: 302px;
    max-height: 302px;
    background-color: black;
}

.about-img:hover
{
    opacity: 50%;
    cursor: pointer;
}

.about-me-heading
{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.about-me-text
{
    margin-top: 0.5rem;
    font-weight: normal;
    text-align: left;
    font-size: 2rem;
}

.fun-facts-heading
{
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
}

.fun-facts-container
{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display:grid;
    grid-template-columns: 40% 40%;
    overflow-x: hidden;
}

.bullet-items
{
    font-size: 1.5rem;
    text-align: left;
}


/* For Phone */
.about-phone-title
{
    word-break: keep-all;
    text-align: center;
}

.about-phone-sub-title
{
    font-weight: normal;
    word-break: keep-all;
    text-align: center;
}

.about-phone-text
{
    font-weight: normal;
    word-break: keep-all;
    text-align: center;
}

/* media queries for responsive design */
/* If the screen size is 801px wide or more */
@media screen and (min-width: 1601px) {
    .phone-container
    {
        display: none;
    }
}
  
/* If the screen size is 800px wide or less */
@media screen and (max-width: 1600px) {
    .computer-container
    {
        display: none;
    }

    .about-phone-title
    {
        font-size: 64px;
    }

    .about-phone-sub-title
    {
        font-size: 32px;
    }

    .about-phone-text
    {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .computer-container
    {
        display: none;
    }

    .about-phone-title
    {
        font-size: 28px;
    }

    .about-phone-sub-title
    {
        font-size: 24px;
    }

    .about-phone-text
    {
        font-size: 16px;
    }
    .phone-fun-facts-heading
    {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    .phone-bullet-items
    {
        font-size: 16px;
        text-align: center;
    }
}