<!-- TODO: finish adding projects to this page and make the components for the calculator and mars rover photos -->
<div [@fadeInState]="transition">
    <div class="card-group projects-container margin-container">
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Simple Caculator</h5>
            </div>
            <a class="projects-link" routerLink="/calculator">
                <img src="../assets/images/projects/simplecalcproj/calcProject.png" width="100%" class="projects-img-border">
            </a>
        </div>
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">My 2 Cents Banking & Investing</h5>
            </div>
            <a class="projects-link" routerLink="/my2cents">
                <img src="../assets/images/projects/my2centsproj/my2centssmall.png" width="100%" class="projects-img-border">
            </a>
        </div>
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Mars Rover Photos (using one of NASAs APIs)</h5>
            </div>
            <a class="projects-link" routerLink="/marsproj">
                <img src="../assets/images/projects/marsroverproj/marsroverimg.png" class="card-img-top projects-img-border">
            </a>
        </div>
      </div>
      <div class="card-group projects-container">
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Paintball Store Web API</h5>
            </div>
            <a class="projects-link" routerLink="/pbstoreproj">
                <img src="../assets/images/projects/paintballstoreproj/paintballstore.png" width="100%" class="projects-img-border">
            </a>
        </div>
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Tic Tac Toe AI Tournament</h5>
            </div>
            <a class="projects-link" routerLink="/tictactoeproj">
                <img src="../assets/images/projects/tictactoeproj/tictactoeai.png" width="100%" class="projects-img-border">
            </a>
        </div>
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Linked List Queue in C</h5>
            </div>
            <a class="projects-link" routerLink="/linkedlistqueueproj">
                <img src="../assets/images/projects/linkedlistqueueproj/linkedlistqueue.png" class="card-img-top projects-img-border">
            </a>
        </div>
    </div>
    <div class="card-group projects-container">
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Recursive GCD Calculator</h5>
            </div>
            <a class="projects-link" routerLink="/gcdcalc">
                <img src="../assets/images/projects/recursivegcdproj/recursivegcd.png" width="100%" class="projects-img-border">
            </a>
        </div>
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Mini Web Pack</h5>
            </div>
            <a class="projects-link" routerLink="/miniwebpack">
                <img src="../assets/images/projects/miniwebpackproj/miniwebpack.png" width="100%" class="projects-img-border">
            </a>
        </div>
        <div class="card project-border">
            <div class="card-body projects-heading">
                <h5 class="card-title">Arduino Light Switch</h5>
            </div>
            <a class="projects-link" routerLink="/arduinolightswitch">
                <img src="../assets/images/projects/arduinolightproj/arduino.png" class="card-img-top projects-img-border">
            </a>
        </div>
    </div>
    <div style="margin-top: 2rem;">
        <app-footer></app-footer>
    </div>
</div>
