.margin-container
{
    margin-top: 2rem;
}

.projects-container
{
    margin-left: 2rem;
    margin-right: 2rem;
}

.project-border
{
    border: 0.25rem solid black;
}

.projects-heading
{
    word-break: keep-all;
    background-color: lightgray;
    text-align: center;
}

.projects-link:hover
{
    opacity: 50%;
}
