.flex-container
{
    background-color: #000;
    display: flex;
    justify-content: space-around;
}

.flexbox-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demarks-logo
{
    margin-top: 0.5rem;
   
}

.demarks-nav-bar-link
{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.demarks-nav-bar-link:hover
{
    opacity: 50%;
}

.andy-demarks-logo:hover
{
    opacity: 50%;
}

.ytlink
{
    color: white;
}