.main-container
{
    background-color: #000;
}

.flexbox-container
{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
}


.demarks-nav-bar-link
{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.demarks-nav-bar-link:hover
{
    opacity: 50%;
}

.andy-demarks-logo:hover
{
    opacity: 50%;
}

.ytlink
{
    color: white;
}

.side-nav-text
{
    color: white;
    border-radius: 0;
    padding-bottom: 0.5rem;
}

.side-nav-text:hover
{
    opacity: 50%;
}

.mat-sidenav-container
{   
    height: 100%;
    position: fixed;    
}
