<div class="flex-container">
    <div class="flexbox-item">
        <a class="demarks-footer-link" routerLink="/">Andy DeMarks</a>        
    </div>
    <div class="flexbox-item">
        <a class="demarks-footer-link" routerLink="/about">about</a>
    </div>
    <div class="flexbox-item">
        <a class="demarks-footer-link" routerLink="/education" >education</a>
    </div>
    <div class="flexbox-item">
        <a class="demarks-footer-link" routerLink="/portfolio">portfolio</a>        
    </div>
</div>

