<div class="home-container">
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000" class="home-box">
        <span [@rubberBandState]="adventureStateA" class="box-main-text" 
            (mouseover)="changeAdventureTextA=true" (mouseout)="changeAdventureTextA=false">A
        </span>
        <span [@rubberBandState]="adventureStateD" class=" box-sub-text" 
            (mouseover)="changeAdventureTextD=true" (mouseout)="changeAdventureTextD=false">d
        </span>
        <span [@rubberBandState]="adventureStateV" class=" box-sub-text" 
            (mouseover)="changeAdventureTextV=true" (mouseout)="changeAdventureTextV=false">v
        </span>
        <span [@rubberBandState]="adventureStateE" class=" box-sub-text" 
            (mouseover)="changeAdventureTextE=true" (mouseout)="changeAdventureTextE=false">e
        </span>
        <span [@rubberBandState]="adventureStateN" class=" box-sub-text" 
            (mouseover)="changeAdventureTextN=true" (mouseout)="changeAdventureTextN=false">n
        </span>
        <span [@rubberBandState]="adventureStateT" class=" box-sub-text" 
            (mouseover)="changeAdventureTextT=true" (mouseout)="changeAdventureTextT=false">t
        </span>
        <span [@rubberBandState]="adventureStateU1" class=" box-sub-text" 
            (mouseover)="changeAdventureTextU1=true" (mouseout)="changeAdventureTextU1=false">u
        </span>
        <span [@rubberBandState]="adventureStateR" class=" box-sub-text" 
            (mouseover)="changeAdventureTextR=true" (mouseout)="changeAdventureTextR=false">r
        </span>
        <span [@rubberBandState]="adventureStateO" class=" box-sub-text" 
            (mouseover)="changeAdventureTextO=true" (mouseout)="changeAdventureTextO=false">o
        </span>
        <span [@rubberBandState]="adventureStateU2" class=" box-sub-text" 
            (mouseover)="changeAdventureTextU2=true" (mouseout)="changeAdventureTextU2=false">u
        </span>
        <span [@rubberBandState]="adventureStateS" class=" box-sub-text" 
            (mouseover)="changeAdventureTextS=true" (mouseout)="changeAdventureTextS=false">s
        </span>
    </div>
    <!-- --------------------------------------------Divider---------------------------------------------------- -->
    <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000" class="home-box home-box-fill">
        <span [@tadaState]="developerStateD" class="box-main-text" 
            (mouseover)="changeDeveloperTextD=true" (mouseout)="changeDeveloperTextD=false">D
        </span>
        <span [@tadaState]="developerStateE1" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextE1=true" (mouseout)="changeDeveloperTextE1=false">e
        </span>
        <span [@tadaState]="developerStateV" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextV=true" (mouseout)="changeDeveloperTextV=false">v
        </span>
        <span [@tadaState]="developerStateE2" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextE2=true" (mouseout)="changeDeveloperTextE2=false">e
        </span>
        <span [@tadaState]="developerStateL" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextL=true" (mouseout)="changeDeveloperTextL=false">l
        </span>
        <span [@tadaState]="developerStateO" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextO=true" (mouseout)="changeDeveloperTextO=false">o
        </span>
        <span [@tadaState]="developerStateP" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextP=true" (mouseout)="changeDeveloperTextP=false">p
        </span>
        <span [@tadaState]="developerStateE3" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextE3=true" (mouseout)="changeDeveloperTextE3=false">e
        </span>
        <span [@tadaState]="developerStateR" class=" box-sub-text" 
            (mouseover)="changeDeveloperTextR=true" (mouseout)="changeDeveloperTextR=false">r
        </span>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000" class="home-box"><img class="home-img" src="../assets/images/homeandabout/freefall.png" style="overflow-y: none;"></div>
    <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000" class="home-box"><img class="home-img" src="../assets/images/homeandabout/setup.png" style="overflow-y: none;"></div>
</div>
    
<div data-aos="fade-up" data-aos-delay="2000">
    <h3 class="projects-heading">Personal Favorite Projects</h3>
    <div class="card-group projects-container">
        <div class="card text-white bg-dark projects-margin" style="border: none;">
            <a class="projects-link" routerLink="/calculator">
                <img src="../assets/images/projects/simplecalcproj/calcProject.png" width="100%" class="projects-img-border">
            </a>
            <div class="card-body">
            <h5 class="card-title title-center">Simple Caculator</h5>
            <p class="card-text">This is a calculator app that uses HTML, CSS and JS. It allows you to do the 4 basic operations with 
                +/- integers or decimals. You can also backspace if you make a typo and clear the calculator.</p>
            </div>
        </div>
        <div class="card text-white bg-dark projects-margin" style="border: none;">
            <a class="projects-link" routerLink="/my2cents">
                <img src="../assets/images/projects/my2centsproj/my2cents.png" width="100%" class="projects-img-border">
            </a>
          <div class="card-body">
            <h5 class="card-title">My 2 Cents Banking/Investing</h5>
            <p class="card-text">As a team of about 20 members, we added features and functionalities
                to this existing banking application. We added functionalities that allow users to help budget their money and invest in crypto/stocks.
                The project is written in C# for the backend web api and the front end uses Angular. 
            </p>
          </div>
        </div>
        <div class="card text-white bg-dark projects-margin" style="border: none;">
            <a class="projects-link" routerLink="/marsproj">
                <img src="../assets/images/projects/marsroverproj/marsroverimg.png" class="card-img-top projects-img-border">
            </a>
          <div class="card-body">
            <h5 class="card-title">Mars Rover Photos (using one of NASAs APIs)</h5>
            <p class="card-text">This is an app I made using one of NASAs Web APIs 
                (<a href="https://api.nasa.gov/" target="_blank" rel="noopener noreferrer">api.nasa.gov</a>).
                The app uses the API to grab photos from Mars (hidden with show/hide image) 
                on a given sol day and it also shows the ID, Earth Date, Camera and Rover used.
            </p>
          </div>
        </div>
    </div>
    <app-footer data-aos="fade-up" data-aos-delay="500"></app-footer>
</div>
